<div class="navbar clearfix">
    <div class="container">
        <div class="logo fl">
          <img src="./../../assets/logo.png" alt="">
        </div>
        <div class="nav fr clearfix">
          <ul class="list">
            <li>首頁</li>
            <li>菜單</li>
            <li>登入</li>
            <li><i class="fas fa-shopping-cart"></i></li>
          </ul>
        </div>
    </div>
  </div>
<router-outlet></router-outlet>
<div class="footer">
  <div class="container">
    <div class="content">
      <div class="markrow">
        <div class="markcol">
            <div class="icon">
                <img src="../../../assets/logo.png" alt="">
              </div>
              <div class="store_info">
                <p class="phone">07-1234-5678</p>
                <p class="mail">sweet@gmail.com</p>
                <p class="address">800台中市咖啡大道396號</p>
                <div class="social"><img src="../../../assets/social/ic-facebook.svg" alt=""> </div>
                <div class="social"><img src="../../../assets/social/ic-line@.svg" alt=""> </div>
              </div>
        </div>
      
       
          <div class="marlcol col fr">
              <div class="title">
                  <p>今天是個＿＿＿</p>
                  <p class="two"> 吃甜點的好日子。</p>
                </div>
                <div class="allright">
                  <span>2018 MarkCafe' All Rights Reserved</span>
                </div>
          </div>
       
    </div>
  </div>
  </div>
 
</div>
