<div class="star">
  <div class="container">
    <div class="cover_img">
      <img src="../../../assets/dessert1.jpg" alt="dessert">
    </div>
    <div class="main_section">
      <div class="top top1">本日精選</div>
      <div class="top top2">人氣推薦</div>
      <div class="top top3">新品上市</div>

    </div>

  </div>
</div>



<div class="intro intro1">

  <div class="outContainer">
    <div class="container">
      <div class="markrow">
        <div class="markcol">
          <div class="img">
            <img src="../../../assets/2.jpg">
          </div>
        </div>
        <div class="markcol">
          <div class="content">一直以來，做咖啡，做甜點， <br> 都能讓我們心中 <br> 感受到咖啡的香氣， <br> 甜點的甜蜜。我們也希望 <br> 能夠將這樣的幸福，<br>
            這麼美好的感覺，分享給身邊 <br> 更多更多的人。</div>
        </div>
        <div class="markcol">
          <div class="title">
            <p>為什麼＿＿</p>
            <p class="two">選擇了做甜點</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="intro intro1">

    <div class="outContainer">
      <div class="container">
        <div class="markrow">
          <div class="markcol">
            <div class="content">一直以來，做咖啡，做甜點， <br> 都能讓我們心中 <br> 感受到咖啡的香氣， <br> 甜點的甜蜜。我們也希望 <br> 能夠將這樣的幸福，<br>
              這麼美好的感覺，分享給身邊 <br> 更多更多的人。</div>
          </div>
          <div class="markcol">
            <div class="title">
              <p>為什麼＿＿</p>
              <p class="two">選擇了做甜點</p>
            </div>
          </div>
          <div class="markcol">
              <div class="img">
                <img src="../../../assets/3.jpg">
              </div>
            </div>
        </div>
      </div>
    </div>
  
  
  </div>
  <div class="only_word">
      <div class="title"> <p>想吃甜點＿＿</p> <p class="two">是不需要理由的。</p> </div>
    </div>
<!-- <div class="intro intro2">
    <img src="../../../assets/2.jpg">
    <div class="back_pad">
    </div>
    <div class="title">為什麼----選擇了做甜點</div>
    <div class="content">一直以來，做咖啡，做甜點，都能讓我們心中感受到咖啡的香氣，甜點的甜蜜。我們也希望能夠將這樣的幸福，這麼美好的感覺，分享給身邊更多更多的人。</div>
  </div>
 
  <div class="shopping_cart"><div class="container">
      <ng-container *ngFor="let item of products">
          <div class="product">
            <div class="img">
              <img src="{{item.img}}" alt="">
              <div class="tag"> <span>本日精選</span> </div>
            </div>
            <div class="name">
              <span>{{item.name}}</span>
            </div>
            <div class="price">
              <span>{{item.price}}</span>
            </div>
            <div class="but_bt">
              <span class="text">加入購物車</span>
            </div>
    
          </div>
        </ng-container>
  </div>
   
    
  </div>
  <div class="subscribe">
    <div class="icon">
      <img src="./../../assets/logo.png" alt="">
    </div>
    <span>訂閱你我的甜蜜郵件</span>
    <div class="mail_block">
      <div class="input">
          <i class="fas fa-envelope"></i>

      </div>
      <div class="send">
          <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>
 -->