
<div class="container">
    <div class="cover_img">
        <img src="../../../assets/dessert1.jpg" alt="dessert">
      </div>
    <div class="topAD">
        <div class="block top1"> <span>本日精選</span> </div>
        <div class="block top2">人氣推薦</div>
        <div class="block top3">新品上市</div>
      </div>
</div>

<!-- 
<div class="intro intro1">
  <img src="../../../assets/2.jpg">
  <div class="back_pad">
  </div>
  <div class="title">為什麼----選擇了做甜點</div>
  <div class="content">一直以來，做咖啡，做甜點，都能讓我們心中感受到咖啡的香氣，甜點的甜蜜。我們也希望能夠將這樣的幸福，這麼美好的感覺，分享給身邊更多更多的人。</div>
</div>
<div class="intro intro2">
    <img src="../../../assets/2.jpg">
    <div class="back_pad">
    </div>
    <div class="title">為什麼----選擇了做甜點</div>
    <div class="content">一直以來，做咖啡，做甜點，都能讓我們心中感受到咖啡的香氣，甜點的甜蜜。我們也希望能夠將這樣的幸福，這麼美好的感覺，分享給身邊更多更多的人。</div>
  </div>
  <div class="only_word">
    <div class="title">想吃甜點----是不需要理由的。</div>
  </div>
  <div class="shopping_cart"><div class="container">
      <ng-container *ngFor="let item of products">
          <div class="product">
            <div class="img">
              <img src="{{item.img}}" alt="">
              <div class="tag"> <span>本日精選</span> </div>
            </div>
            <div class="name">
              <span>{{item.name}}</span>
            </div>
            <div class="price">
              <span>{{item.price}}</span>
            </div>
            <div class="but_bt">
              <span class="text">加入購物車</span>
            </div>
    
          </div>
        </ng-container>
  </div>
   
    
  </div>
  <div class="subscribe">
    <div class="icon">
      <img src="./../../assets/logo.png" alt="">
    </div>
    <span>訂閱你我的甜蜜郵件</span>
    <div class="mail_block">
      <div class="input">
          <i class="fas fa-envelope"></i>

      </div>
      <div class="send">
          <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>
 -->
